#error-page {
  position: absolute;
  top: 10%;
  bottom: 10%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
#error-page .error-content {
  text-align: center;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.error-content h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000;
  font-size: 2em;
  max-width: 600px;
  position: relative;
}
.error-content h4:after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.error-content p {
  font-size: 1.2em;
  color: #0d0d0d;
}
.error-content .error-btns {
  margin: 25px 0;
  display: inline-flex;
}
.error-content .error-btns a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid #63bce7;
  color: #63bce7;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.error-content .error-btns a:hover {
  background: #63bce7;
  color: #fff;
}
