.heading-container {
  display: flex;
  justify-content: center;
  background: #1A1A49;
  color: white;
}
.header-category-container {
  width: 150px;
}
.heading-category-l1 {
  padding: 0px 16px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  display: block;
  cursor: pointer;
}
.category-popover {
  height: 40vh;
  max-width: 70vw;
  padding: 20px !important;
  cursor: pointer;
}
.heading-category-l2 {
  font-size: 16px;
  font-weight: 500;
  color: #1A1A49;
  text-align: center;
}
.popover {
  border-radius: 0;
  display: flex;
}
.heading-category-l3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.heading-category-l3:hover {
  color: #707089;
}
.pop-over {
  display: none;
  position: absolute;
  z-index: 1000;
}
.pop-over.show {
  display: block;
}

.heading-category-l1:hover + .popover,
.pop-over:hover {
  display: block;
}
.col-container{
  display: flex;
  justify-content: flex-start;
  width : full
}
.column{
  padding-bottom:15px 0;
  padding-left: 5px;
  padding-right: 5px;
  width: max-content;
  display: table-column;
}
.theme-gold{
  color: #ECD386;
}
.theme-blue{
  color: #1A1A49;
}