// .heading-container {
//   display: flex;
//   justify-content: center;
//   background: #1a1a49;
//   color: white;
// }
// .header-category-container {
//   width: 150px;
// }
// .heading-category-l1 {
//   padding: 0px 16px;
//   text-align: center;
//   font-size: 15px;
//   font-weight: 500;
//   display: block;
//   cursor: pointer;
// }
// .category-popover {
//   max-width: 70vw;
//   padding: 20px !important;
//   cursor: pointer;
// }
// .heading-category-l2 {
//   font-size: 16px;
//   font-weight: 500;
//   color: #1a1a49;
//   text-align: center;
// }
// .popover {
//   border-radius: 0;
//   display: flex;
// }
// .heading-category-l3 {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   color: #000000e7;
//   text-decoration: none;
// }
// .heading-category-l3:hover {
//   color: #707089;
// }
// .pop-over {
//   display: none;
//   position: absolute;
//   z-index: 1000;
// }
// .pop-over.show {
//   display: block;
// }

// .heading-category-l1:hover + .popover,
// .pop-over:hover {
//   display: block;
// }
// .col-container {
//   display: flex;
//   justify-content: flex-start;
//   width: full;
// }
// .column {
//   padding-bottom: 15px 0;
//   padding-left: 5px;
//   padding-right: 5px;
//   width: max-content;
//   display: table-column;
// }
// .theme-gold {
//   color: #ecd386;
// }
// .theme-blue {
//   color: #1a1a49;
// }
// .theme-blue-bg {
//   background-color: #1a1a49;
//   border: none !important;
// }
// .theme-btn-blue:hover {
//   background-color: #1a1a49;
//   border: none !important;
// }
// .slick-slide {
//   padding: 12px !important;
// }

// .slick-slide {
//   width: 320px !important;
// }
// .carousel-caption {
//   bottom: 6rem !important;
//   left: 180px !important;
// }
