.table_row {
  font-size: 0.9rem;
  // font-weight:500;
}

.redirect_name {
  color: black;
  text-decoration: none;
}

.redirect_name:hover {
  text-decoration: underline;
}
.table_header {
  background-color: #adb5bd91 !important;
  font-size: 14px !important;
  text-align: start;
  align-content: first baseline !important;
}

@media screen and (max-width: 768px) {
  .table_header {
    text-wrap: nowrap !important;
  }
}