@media (min-width: 320px) {
    .offcanvas {
      width: 100% !important;
    }
  }
  @media (min-width: 576px) {
    .offcanvas {
      width: 60% !important;
    }
  }
  @media (min-width: 992px) {
    .offcanvas {
      width: 45% !important;
    }
  }
  @media (min-width: 1200px) {
    .offcanvas {
      width: 35% !important;
    }
  }