.slick-next:before {
    color: #1a1a49 !important;
    font-size: 53px !important;
}

.slick-prev:before {
    color: #1a1a49 !important;
    font-size: 53px !important;
}

.slick-next {
    right: 0px !important;
}