.banner_btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 1rem 1.8rem !important;
}
.banner_btn:hover {
  background-color: #393983;
}
.image_wrapper {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
  background-color: #ededff;
}

.image_wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // object-fit: contain;
}
