.font_12 {
  font-size: 12px;
}
.table_header {
  padding: auto;
  width: full;
  border: 2px solid #908c8c;
  background: #e3e0e0;
}
.border {
  border: 1px solid #908c8c;
}
.edit_btn {
  text-decoration: none;
  font-size: 12px;
}
.place_order_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.place_order_btn {
  padding: 0.5rem;
  margin-right: 0.5rem;
  max-width: 7rem;
  border: 1px solid #cd8825;
  border-radius: 0.2rem;
  background-color: #cd8825;
  color: #fff;
  display: flex;
  align-self: center !important;
}
.btn_container {
  height: full;
  display: flex;
  align-items: center;
}
.size_qty_table {
  height: full;
  border: 1px solid #908c8c;
}
.qty_input {
  max-width: 40px;
}
.cross_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: full;
  border: 1px solid #908c8c;
  cursor: pointer;
}
.table_loader_header {
  background: #e3e0e0;
  border: 2px solid #908c8c;
  padding: auto;
  width: full;
  height: 2rem;
}