.catalog_img {
  height: 300px;
}
.catalog_list_btn {
  position: absolute;
  bottom: 10%;
  text-decoration: none;
  color: #000000;
  text-align: center;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
}
