.purity_button{
    width: 4rem;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
    border: 1px solid #1a1a49;
    // border: 1px solid #c67605;
    border-radius: 5px;
}
.purity_button:hover{
    background: #1a1a49;
    color:#ffd700;
}
.purity_button_active{
    width: 4rem;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
    border: 1px solid #1a1a49;
    // border: 1px solid #c67605;
    border-radius: 5px;
    background: #1a1a49;
    color:#ffd700;
}
.sort_by_select{
    width: 10rem;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
    border: 1px solid #1a1a49;
    // border: 1px solid #c67605;
    border-radius: 5px;
    cursor: pointer;  
}