.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.mobile_menu_wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  overflow-y: auto;
}

.mobile_menu_wrapper.open {
  transform: translateX(0);
}

.mobile_menu_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mobile_menu_container {
  position: relative;
  width: 80%;
  height: 100%;
  background-color: rgb(248, 249, 250);
  padding: 8px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mobile_menu_container.scrollable {
  overflow-y: auto;
}

.header_search {
  margin-bottom: 20px;
}

.header_search input {
  width: calc(100% - 50px);

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header_search button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.mobile-menu {
  list-style: none !important;
  padding-left: 0;
  padding-left: 0rem;
  list-style-type: none !important;
}
.mobile_menu ul {
  list-style: none !important;
  padding-left: 0px;
}
.mobile_menu li {
  margin-bottom: 10px;
  padding-left: 10px;
}

.mobile_menu a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn_close_btn {
  font-size: 20px !important;
}
.mobile_menu a:hover {
  background-color: #f0f0f0;
}

.header-search {
  margin-bottom: 20px;
  display: flex;
}

.header-search .search-container {
  display: flex;
  align-items: center;
}

.header-search input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.header-search button {
  padding: 10px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: #f0f0f0;
}
