.tableHeader {
    background-color: #adb5bd91 !important;
    font-size: 14px !important;
    align-content: first baseline !important;
    text-wrap: nowrap !important;
  }
  .tableFont {
    font-size: 13px !important;
  }
  .skeletontableHeader {
    background-color: #adb5bd91 !important;
    height: 2rem;
  }

@media screen and (max-width: 768px) {
  .tableHeader {
    text-wrap: nowrap !important;
  }
}