.tableHeader {
    background-color: #adb5bd91 !important;
    font-size: 14px !important;
  }
  .tableFont {
    font-size: 13px !important;
  }
  .skeletontableHeader {
    background-color: #adb5bd91 !important;
    height: 2rem;
  }