.variant_btn {
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  margin: 0.2rem;
  border: 1px solid #cd8825;
  border-radius: 5px;
  color: #cd8825;
  font-size: 0.9rem;
}
.variant_btn_active {
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  margin: 0.2rem;
  border: 1px solid #1a1a49;
  border-radius: 5px;
  background: #1a1a49;
  color: #cd8825;
  font-size: 0.9rem;
}
.variant_btn_in_cart {
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  margin: 0.2rem;
  border: 1px solid #184f2f;
  border-radius: 5px;
  background: #184f2f;
  color: #fff;
  font-size: 0.9rem;
}
.variant_btn:hover {
  background: #1a1a49;
  color: #ffd700;
}
