.product_card {
  position: relative;
  border: 1px solid #9696967a;
  font-weight: 300;
  padding: 16px 16px 10px;
  height: 100%;
}
.product_card_img {
  position: relative;
  height: 146px !important;
  // height: 180px !important;
  overflow: hidden;
  // height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_to_cart_btn {
  border: 1px solid #cd8825;
  color: #ffffff;
  font-size: 12px;
  padding: 0.3rem 0.5rem;
  font-weight: 600;
  background-color: #cd8825;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.addded_to_cart_btn {
  border: 1px solid #184f2f;
  color: #ffffff;
  font-size: 12px;
  padding: 0.3rem 0.5rem;
  font-weight: 600;
  background-color: #184f2f;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.icon_margin {
  margin-left: 0.3rem;
}
.add_to_cart_btn:hover {
  background-color: #1a1a49;
  border: 1px solid #1a1a49;
  color: #cd8825;
}
.product_name {
  font-weight: 600;
  margin-bottom: 3px !important;
  font-size: 12px;
  text-decoration: none !important;
}
.product_name a {
  text-decoration: none !important;
}

.product_card_text {
  font-size: 12px;
  padding: 0px !important;
  margin-bottom: 3px !important;
}

.wishlist_icon {
  position: absolute;
  right: 0px !important;
  font-size: 22px;
  top: -8px !important;
  cursor: pointer;
  z-index: 1;
}

.product_code_img {
  padding: 10px;
  transition: transform 0.2s;
  max-width: 200px;
  max-height: 100%;
  width: 100%;
}
.product_code_img:hover {
  transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.content_wrap {
  padding: 10px 0px !important;
  text-align: left;
  display: flex;
  align-items: end;
  width: 100%;
}
.product_content_wrap {
  height: fit-content;
  width: 100%;
}
.product_card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.productCode {
  font-size: 0.8rem;
}
.tableRow {
  background-color: #1a1a49;
  color: white;
  font-size: 0.8rem;
}
.tableFontSize {
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .product_card {
    padding: 12px 12px 0;
  }
  .add_to_cart_btn {
    justify-content: center;
    padding: 0.3rem 1rem;
    width: 100%;
    margin-top: 0.25rem;
  }

  .addded_to_cart_btn {
    justify-content: center;
    padding: 0.3rem 1rem;
    width: 100%;
    margin-top: 0.25rem;
  }

  .icon_margin {
    margin-left: 0.5rem;
  }
}