.product_card {
  position: relative;
  /* border: 1px solid #030f27; */
  border: 2px solid #f2f2f2;
  /* margin-bottom: 40px; */
  font-weight: 300;
  padding: 40px 10px 10px;
  max-height: 360px;
  // padding: 0.5rem 0.5rem;
  height: 100%;
  /* width: 240px; */
}
.product_card_img {
  position: relative;
  height: 146px !important;
  overflow: hidden;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_to_cart_btn {
  border: 1px solid #1a1a49;
  color: #1a1a49;
  font-size: 14px;
  width: 140px;
}

.add_to_cart_btn:hover {
  background-color: #1a1a49;
  border: 1px solid #1a1a49;
  color: #ffd700;
}
.product_name {
  font-weight: 600;
  // font-size: 1rem;
  font-size: 12px;
  padding: 0px !important;
  margin: 0px !important;
}

.product_card_text {
  // font-size: 0.9rem;
  font-size: 12px;
  padding: 0px !important;
  margin: 0px !important;
}

.wishlist_icon {
  position: absolute;
  right: 0px !important;
  font-size: 22px;
  top: -8px !important;
}

.product_code_img {
  padding: 15px;
  margin-top: 15px;
  transition: transform 0.2s;
  max-width: 200px;
  max-height: 100%;
  width: 100%;
}
.product_code_img:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.content_wrap {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  border: '2px solid red' !important;
}
