.size_button {
  width: 3.5rem;
  padding: 0.5rem 0.5rem;
  margin: 0;
  border: 1px solid #1a1a49;
  border-radius: 5px;
  background: rgba(138, 138, 221, 0.2196078431);
  font-size: 0.9rem;
}
.size_button:hover {
  background: #1a1a49;
  color: #cd8825;
}
.size_button_active {
  width: 3.5rem;
  padding: 0 0.5rem;
  border: 1px solid #1a1a49;
  border-radius: 5px;
  background: #1a1a49;
  color: #cd8825;
  font-size: 0.9rem;
}
.qty_input {
  height: 1.5rem;
  border: 0;
  text-align: center;
}
.add_to_cart_btn {
  border: 1px solid #cd8825;
  color: #ffffff;
  font-size: 12px;
  padding: 0.3rem 0.5rem;
  font-weight: 600;
  background-color: #cd8825;
}
.cart_add_to_cart_btn {
  border: 1px solid #184f2f;
  color: #ffffff;
  font-size: 12px;
  padding: 0.3rem 0.5rem;
  font-weight: 600;
  background-color: #184f2f;
}
.reject_btn {
  border: 1px solid #cd2525;
  color: #cd2525;
  font-size: 12px;
  padding: 0.3rem 0.5rem;
  font-weight: 600;
}
.add_to_cart_btn:hover {
  background: #1a1a49;
  color: #ffd700;
}
.product_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pointerCursor {
  cursor: pointer;
}
.prev_next_btns {
  font-size: 1.5rem;
}
