.size_button {
  width: 3.5rem;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0 0.2rem 0 0.2rem;
  border: 1px solid #1a1a49;
  border-radius: 5px;
  background: rgba(138, 138, 221, 0.2196078431);
  margin-top: 1rem;
  font-size: 0.9rem;
}
.size_button:hover {
  background: #1a1a49;
  color: #cd8825;
}
.size_button_active {
  width: 4rem;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0 0.5rem 0 0.5rem;
  border: 1px solid #1a1a49;
  border-radius: 5px;
  background: #1a1a49;
  color: #cd8825;
}
.qty_input {
  width: 6.5rem;
  height: 1.5rem;
  border: 0;
  text-align: center;
}
.add_to_cart_btn {
  border: 1px solid #cd8825;
  color: #ffffff;
  font-size: 12px;
  // width: 140px;
  padding: 0.3rem 0.5rem;
  font-weight: 600;
  background-color: #cd8825;
}
.reject_btn {
  border: 1px solid #cd2525;
  color: #cd2525;
  font-size: 12px;
  // width: 140px;
  padding: 0.3rem 0.5rem;
  font-weight: 600;

}
.add_to_cart_btn:hover {
  background: #1a1a49;
  color: #ffd700;
}
.product_image_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pointerCursor {
  cursor: pointer;
}

