
.product_card {
  position: relative;
  /* border: 1px solid #030f27; */
  border: 2px solid #f2f2f2;
  /* margin-bottom: 40px; */
  font-weight: 300;
  padding: 40px 10px 10px;
  height: 100%;
  /* width: 240px; */
}
.product_card_img {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.add_to_cart_btn {
  border: 1px solid #1a1a49;
  color: #1a1a49;
  font-size: 14px;
  width: 140px;
}

.add_to_cart_btn:hover {
  background-color: #1a1a49;
  border: 1px solid #1a1a49;
  color: #ffd700;
}
.product_name {
  font-weight: 600;
  font-size: 1.1rem;
}

.product_card_text {
  font-size: 1rem;
}

.wishlist_icon {
  position: absolute;
  right: 14px !important;
  font-size: 25px;
  top: -7px !important;
}

.product_code_img {
  padding: 15px;
  margin-top: 15px;
  transition: transform 0.2s;
}
.product_code_img:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
