body {
  font-family: 'Arial';
}
.cusrsor-pointer {
  cursor: pointer;
}
// Header
.heading-category-l1 {
  padding: 0px 16px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  display: block;
  cursor: pointer;
}
.heading-category-l1:hover + .popover,
.pop-over:hover {
  display: block;
}
.pop-over {
  display: none;
  position: absolute;
  z-index: 1000;
}
.pop-over.show {
  display: block;
}

.theme-gold {
  color: #ecd386;
}
.theme-blue {
  color: #1a1a49 !important;
}
.theme-blue-bg {
  background-color: #1a1a49;
  border: none !important;
}
.theme-btn-blue:hover {
  background-color: #1a1a49;
  border: none !important;
}
.slick-slide {
  padding: 12px !important;
}

.slick-slide {
  width: 320px !important;
}

// Navbar
.top-navbar {
  padding-top: 0.75rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
}

.icon {
  color: #1a1a49;
  text-align: center;
  font-size: 22px !important;
}
.navbar-skeleton {
  background-color: #d9d9d9;
  padding: 9px;
}
.custom-dropdown-item:active,
.custom-dropdown-item:focus {
  background-color: #1a1a49; /* Custom background color */
  color: #ecd386 !important; /* Custom text color */
}

// MobNavbar
.mobile-menu-toggle {
  cursor: pointer;
  font-size: 24px;
}
.w-icon-hamburger::before {
  font-weight: 900;
}
.fs-5 {
  font-size: 22px !important;
}
.fs-2 {
  font-size: 17px !important;
}
.fs-14 {
  font-size: 14px;
}
.fa-anchor {
  margin-right: 10px;
}

.fa-arrow-right {
  margin-left: auto;
}
.caret-icon {
  transition: transform 0.3s ease;
}

.caret-icon.rotate {
  transform: rotate(90deg);
}

@media (min-width: 768px) {
  .mobile-menu-toggle {
    display: none !important;
  }
}

// offcanvas
@media (min-width: 320px) {
  .offcanvas {
    width: 100% !important;
  }
}
@media (min-width: 576px) {
  .offcanvas {
    width: 60% !important;
  }
}
@media (min-width: 992px) {
  .offcanvas {
    width: 45% !important;
  }
}
@media (min-width: 1200px) {
  .offcanvas {
    width: 35% !important;
  }
}
/* Toast Notification */
.toast-container-below-navbar {
  margin-top: 70px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #111180;
}
.form-select:focus {
  box-shadow: none;
  border-color: #111180;
}
// Image slideshow
.img-container {
  max-width: 1200px;
  margin: 0 auto;
}
.left {
  display: flex;
  height: 50vh;
  gap: 10px;
}
.left_1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.img_wrap {
  max-width: 80px !important;
  max-height: 80px !important;
  border: 1px solid #eee;
  cursor: pointer;
}
.img_wrap img {
  max-width: 70px !important;
  max-height: 70px !important;
  object-fit: contain;
}
.left_2 img {
  // max-width: 400px !important;
  max-height: 400px !important;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
// .active {
//   border: 2px solid #e77600;
// }
.magnified-image {
  min-width: 300% !important;
  min-height: 300% !important;
  object-fit: contain !important;
  background: #fff;
}
.cursor-pointer {
  cursor: pointer;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr; /* Or whatever layout you need */
  height: 600px; /* Set a specific height */
}

.left_2 {
  width: 100%;
  height: 100%;
  position: relative;
}

.product-image {
  max-width: 400px !important;
  max-height: 400px !important;
  width: 100% !important;
  height: 100% !important;
}

.mobile-img-magnify {
  display: none;
}

.desktop-img-magnify {
  display: block;
}

.p-end {
  padding-right: 12px !important;
}

.p-start {
  padding-left: 12px !important;
}

@media screen and (max-width: 768px) {
  .left {
    flex-direction: column-reverse;
    align-items: center;
  }

  .left_1 {
    flex-direction: row;
    justify-content: start;
    width: 100%;
    gap: 10px;
  }

  .left_2 img {
    max-width: 400px !important;
    max-height: 400px !important;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .mobile-img-magnify {
    display: block;
  }

  .desktop-img-magnify {
    display: none;
  }

  .p-end {
    padding-right: 0 !important;
  }

  .p-start {
    padding-left: 0 !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .left {
    flex-direction: column-reverse;
    align-items: center;
  }

  .left_1 {
    flex-direction: row;
    justify-content: start;
    width: 100%;
    gap: 10px;
  }
}
/* You might need to add this to ensure the ReactImageMagnify component fills the space */
.left_2 > div {
  height: 100%;
}
